<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <link rel="stylesheet" href="../public/bootstrap.min.css">
    <link rel="stylesheet" href="../public/style.css" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <form>
                <legend>Add New Student</legend>
                <div class="form-group">

                </div>
                <div class="form-group">
                    <input type="text" id="name" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="text" id="roll" class="form-control" placeholder="Roll Number">
                </div>
                <div class="form-group">
                    <input type="text" id="dob" class="form-control" placeholder="Date of Birth">
                </div>
                <div class="form-group">
                    <select class="form-control" id="gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" id="school" class="form-control" placeholder="School">
                </div>
                <div class="form-group">
                    <input type="email" id="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" id="phone" class="form-control" placeholder="Phone">
                </div>
                <div class="form-group">
                    <input type="text" id="address" class="form-control" placeholder="Your location">
                </div>
                <div class="form-group">
                    <textarea id="description" class="form-control" placeholder="About yourself"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>

<script src="../public/jquery.js"></script>
<script src="../public/client.js"></script>
</body>
</html>
